* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

img {
  width: 100%;
}

p {
  margin: 0;
  padding: 0;
  /* word-break: break-all; */
}

a {
  color: inherit;
  text-decoration: none;
}
.padding-40px {
  padding: 20px;
}

.padding-10px {
  padding: 10px;
}

.highlight {
  position: relative;
}

.highlight::after {
  content: "";
  position: absolute;
  top: 100%;
  margin-top: -8px;
  left: 50%;
  transform: translateX(-50%);
  width: 5px;
  height: 5px;
  background-color: #1087ff;
  border-radius: 50%;
}

@media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }
  body {
    color: black;
    background: white;
  }
}

.city {
  fill: #cccccc;
  fill-opacity: 1;
  stroke: white;
  stroke-opacity: 1;
  stroke-width: 0.5;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  cursor: pointer;
}

.city:hover {
  fill: #a9a9a9;
}

.city.active {
  fill: #f39c12;
}

.city.active2 {
  fill: #264692;
}

.show-city-name {
  background-color: #f39c12;
  border-radius: 10px;
  color: #fff;
  position: absolute;
  padding: 15px 25px;
  opacity: 0;
  visibility: hidden;
  font-size: 16px;
}

.show-city-name--active {
  opacity: 1;
  visibility: visible;
}

li {
  list-style-type: none;
}

ul.lead-list {
  padding: 20px;
}

ul.lead-list li {
  border-bottom: 2px solid #f39c12;
}

ul.lead-list li + li {
  margin-top: 20px;
}

.details td {
  border: 1px outset hsl(30, 75%, 60%);
  padding: 5px 10px;
}

.details p {
  margin: 20px 0px;
  font-weight: bold;
}

.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: 10px;
  top: 10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}

.popup-content {
  margin: auto;
  background: rgb(255, 255, 255);
  width: 95%;
  padding: 5px;
  max-height: 95%;
  overflow-y: auto;
}

@media screen and (min-width: 576px) {
  .popup-content {
    width: 50%;
  }
}

.popup-arrow {
  color: rgb(255, 255, 255);
}

[role="tooltip"].popup-content {
  width: 200px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
}

.popup-overlay {
  background: rgba(0, 0, 0, 0.5);
}

[data-popup="tooltip"].popup-overlay {
  background: transparent;
}

.hamburger_svg__hamburger-icon:hover svg path {
  stroke: #e0c47d;
  transition: fill 0.3s; /* Add smooth transition */
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.label {
  margin-bottom: 10px;
  font-size: 16px;
}

.custom-date-picker {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Slider */
.embla {
  margin: auto;
  --slide-height: 19rem;
  --slide-spacing: 5vw;
  --slide-size: 90%;
  --detail-medium-contrast: #000;
  position: relative;
}

@media screen and (min-width: 576px) {
  .embla {
    --slide-size: 65%;
  }
  
}

.embla__viewport {
  overflow: hidden;
}
.embla__container {
  backface-visibility: hidden;
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}
.embla__slide {
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
}
.embla__slide__number {
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  border-radius: 1.8rem;
  font-size: 4rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--slide-height);
}
.embla__controls {
  /* display: grid;
  grid-template-columns: auto 1fr;
  justify-content: space-between;
  gap: 1.2rem;
  margin-top: 1.8rem;
  position: absolute; */
}
.embla__buttons {
}
.embla__button {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  width: 2rem;
  height: 2rem;
  flex-shrink: 0;
  z-index: 1;
  border-radius: 50%;
  color: var(--text-body);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 99;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 1);
}
.embla__button:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
.embla__button--prev {
  left: 8px;
}
.embla__button--next {
  right: 8px;
}
.embla__button:disabled {
  color: var(--detail-high-contrast);
  opacity: 0.5;
  pointer-events: none;
  display: none;
}
.embla__button__svg {
  width: 35%;
  height: 35%;
  width: 1.1em;
  height: 1.1em;
}
.embla__dots {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  margin-right: calc((2.6rem - 1.4rem) / 2 * -1);
}
.embla__dot {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  width: 2.6rem;
  height: 2.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.embla__dot:after {
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  content: "";
}
.embla__dot--selected:after {
  box-shadow: inset 0 0 0 0.2rem var(--text-body);
}

.react-datepicker {
  display: flex !important;
  min-width: 100%;
}

.vehicle-info {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
  margin-top: 10px;
}

.vehicle-info h3 {
  grid-column: span 5;
  font-size: 1.2em;
  margin-bottom: 10px;
}

.vehicle-info .label {
  font-weight: bold;
  text-align: center;
}

.vehicle-info .value {
  text-align: center;
}

.vehicle-description {
  margin-top: 20px;
  font-size: 1.1em;
}

.text-container {
  position: relative;
  display: inline-block;
  font-size: 1em;
  color: #003F7D;
}

.text-container svg {
  position: absolute;
  top: 100%;
  left: 0;
}

.flags {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
}

.flags > * {
  display: inline-flex;
  align-items: center;
}

.flags > * + *{
  margin-left: 20px;
}

.flag {
  width: 2em;
}